body{
	background-color: #1E90FF;
}

#menu{
	width : 600px;
	height : 300px;
	background : blue;
	margin: 0 auto;
}

.investigador{
	position: absolute;
	margin-left: 20%;
	margin-top: 5%;
}

#nomeJogo{
	position: absolute;
	margin-left: 35%;
	font-size: 100%;
	font-family: arial, sans-serif;
	line-height: 100%;

}